<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>AINACAR - 차량 리스트</title>


<link href="/static/css/mainstyle.css" rel="stylesheet" type="text/css">
<link href="/static/css/products.css" rel="stylesheet" type="text/css">
<link href="/static/css/page.css" rel="stylesheet" type="text/css">
<link href="/static/css/img.css" rel="stylesheet" type="text/css">


<style type="text/css">
/*  */
	#a_1 {
		color: blue;
		text-decoration: none; /* 밑줄 제거 */
	}
	
	#a_2 {
		color: #000000 !important;
		text-decoration: none !important;
		text-align:center;
	}
	
	#imgs {
		width: 60px;
	}
	
	#imgs2 {
		width: 270px;
	}
	
	.line {
		border-bottom: 1px solid black;
		padding: 10px;
	}
	
	.table_line {
		width: 80%;
		border-top: 1px solid black;
		border-collapse: collapse;
		border-style: solid;
	}
	
	.table_hidden {
		display: none;
	}
		
</style>

</head>
<body>
<!-- header: 메뉴바 -->
<!-------------------------------headerbegin---------------------->
<header style='margin: auto; text-align:center;'>
	<div class="navbar">
		<div style="float:left; margin-top:15px; margin-right:40px;">
		<a href='/' id='mainlogo'><img src='/static/images/mainlogo/AINACAR.png' width='200px'/></a>
		</div>
		<div style='display:inline-block; margin-top:15px; float:left;'>
      		<a href="/" class="link7" style='display:inline-block;'>홈
           	<span class="sub">Take me home</span>
    		</a>
			
			<a href='/about' class="link7" style='display:inline-block;'>AINACAR이란?
			<span class="sub">소개합니다</span>
			</a>
			
			<a href='/carinfo/' class="link7" style='display:inline-block;'>자동차 정보
			<span class="sub">알려드립니다</span>
			</a>
			
			<div class='dropdown'>
			<a href='/boards/list' class="link7" style='display:inline-block;'>게시판
			<span class="sub">마음껏 둘러보세요</span></a>
			<div class='dropdown-content'>
				<a  href='../boards/list?type=free'>자유게시판</a> 
				<a  href='../boards/list?type=oldcar'>중고차거래</a> 
				<a  href='../boards/list?type=travle'>여행지추천</a>
			</div>
		</div>
		</div>
	<!-- 회원 -->
		<div style=' display:inline-block; margin-top:20px; margin-left:40px; float:left;'>
		{% if islogin == False or islogin == None %} 
			
			<a href="../members/newmember" class="link6">회원가입</a>
			<!--  <a href='../members/newmember'style=''>회원가입</a> -->
			
			<a href="../members/main" class="link5">로그인</a> 
			<!-- <a href='../members/main'>로그인</a> -->
		{% else %} 
			<a class="link3" href='../members/account'>어서오세요 {{username}}님</a>	
			<!-- <a href='../members/account'>어서오세요 {{username}}님</a> -->
			<a class="link3" href='../members/account'>내 정보</a>
			<!-- <a href='../members/account'>내 정보</a> -->
			<a href="../members/logout" class="link3">로그아웃</a>
			<!-- <a href='../members/logout'>로그아웃</a> -->
		{% endif %}
		</div> 
	</div>
	<!-- end of navbar -->
</header>
<!-- --------------------------end of header------------------>


<main>
<!-- 본문내용 시작 -->
<div id="centerColumn"> <!-- 차량 리스트가 보이는 전체 화면 -->
	
	<div id="header">
		<span id="p_1" class="s1"><b>브랜드</b></span>
			<ul id="ul_line">
				<li id="li_line">
					<a href="/carinfo">전체</a>	
				</li> 
				<!-- <li class="">
					<a href="" id="kor">국산</a>
				</li>
				<li class=""> 
					<a href="" id="global">수입</a>
				</li> -->
				<li id="li_line"><a href="/carinfo/?rdate=True&brand={{brand}}">최신순 ↓</a></li>
				<li id="li_line"><a href="/carinfo/?rdate=False&brand={{brand}}">오래된순 ↑</a></li>
			</ul>
	</div>
		
	<hr>
	<div> <!-- 직접 브랜드 목록이 표시되는 공간, 자바 스크립트로 페이징 기능을 만듦,  -->
		<table id="cell_1" style="text-align:center; height:250px;">
			<tr>
			<!-- logos가 존재하면 실행 -->
			{% if logos %}
			{% for l in logos %}
			<!-- static/logos 폴더 안에 있는 브랜드 이름을 가진 이미지를 출력  -->
				<td><a id="a_2" href="/carinfo/?brand={{l.0}}"><img align="left" id="imgs" src='/static/images/logos/{{ l.0 }}.png'>
				<br><br><br>
				<span><b>{{ l.0 }}</b></span>
				</a>
				</td>
							
							<!-- 7번째 항목일 경우 tr생성 -->
						{% if forloop.counter == 7 %}
					</tr>
					<tr>
						{% endif %}
						{% endfor %}
					{% endif %}
					</tr>
					<tr>
					<td colspan="7" style="text-align: right;">
				<!-- 페이징 -->
				{% if logos.paginator.num_pages > 1 %}
				<div>					
					<div style="float:left; display: inline;">[{{logos.number}}/{{logos.paginator.num_pages}}]</div>
					{% if logos.has_previous %}
					<a id="a_2" href="?page={{logos.previous_page_number}}">&laquo;이전</a>
					{% endif %}
					&nbsp;&nbsp;
					<!-- <a href='' tabindex='-1' aria-disabled='true'>&laquo;이전</a>  -->
					
					{% if logos.has_next %}
					<a id="a_2" href="?page={{logos.next_page_number}}">다음&raquo;</a> 
					{% endif %} 
					<!-- <a href='' tabindex='-1' aria-disabled='true'>다음&raquo;</a> -->
					&nbsp;&nbsp;
					<hr>
					
				</div>
					</td>
				</tr>
			</table>

		</div> <!-- 리스트 보디 -->
	
	
	<div class="cell_2">	<!-- 리스트 항목 -->
		<table>
			<!-- 차량 정보 나오는 곳 -->
			{% if pro %} 
			{% for p in pro %} <!-- 현재 p는 전체 데이터 -->
			<tr>
				<td class="table_hidden"><input type="hidden" name="car_id" value="{{p.id}}"></td>
				<td id="td_line_2" class="container"><a class="sample_image" href="/carinfo/product?id={{p.id}}"><img id="imgs2" src="/static/images/{{p.mcar_infoproducts1aker}}/{{p.car_model}}.png"></a></td>	<!-- 사진 -->
				<td id="td_line_2"><h4><a id="a_2" href="/carinfo/product?id={{p.id}}">{{p.car_model}}</a></h4></td>	<!-- 자바스크립트로 데이터 보내기 -->
				<td id="td_line_2">{{p.min_fe}} ~ {{p.max_fe}}</td> <!-- 연비 -->
				<td id="td_line_2">{{p.min_pri}} ~ {{p.max_pri}}</td>	<!-- 가격 -->
			</tr>
			{% endfor %}
			{% endif %}
		</table>
			<!-- 여기까지 차량정보 -->
			
		<table class="pagination" style="text-aling:center;">
			<tr>
				<td>
				{% if pro %}
				{% if pro.has_previous %} <!-- 이전이 있다면 -->
					<a id="a_2" class="a_3" href="/carinfo/?page2={{pro.previous_page_number}}">&laquo;이전</a>
				{% endif %}
				{% for page_number in pro.paginator.page_range %}
				{% if page_number >= pro.number|add:-5 and page_number <= pro.number|add:5 %}
				{% if page_number == pro.number %}
					<a id="a_2" class="a_3" href="/carinfo/?page2={{page_number}}&brand={{brand}}">{{page_number}}</a>
				{% else %}
					<a id="a_2" class="a_3" href="/carinfo/?page2={{page_number}}&brand={{brand}}">{{page_number}}</a>
				{% endif %}
				{% endif %}
				{% endfor %}
				{% if pro.has_next %} <!-- 이후가 있다면 -->
					<a id="a_2" class="a_3" href="/carinfo/?page2={{pro.next_page_number}}">다음&raquo;</a>
			{% endif %}
				</td>
			</tr>			
			{% endif %}
			
			{% else %}
			<tr>
				<td>해당 자료 검색불가</td>
			</tr>
			{% endif %}
		</table>
	</div>
</div>
</main>

<footer>
<br><br><br>

<hr id='footerline'>
<div style='text-align:center'>
	<h2>경훈씨의 화성가는 붕붕2팀</h2>
	<h3>김성우 권은별 조경훈 이승조 조광현</h3>
</div>
</footer>


</body>
</html>