/* login.html */
*{
	margin : 0px;
	padding : 0px;
	text-decoration : none;
}

body {
	background-color :rgb(32,56,100)
}

.login_form {
	position : absolute;
	width: 300px;
	height : 400px;
	padding: 30px, 20px;
	background-color : #fff;
	text-align: center;
	top:1%;
	left:50%;
	transform: translate(-50%,50%);
}

.login_form h3{
	text-align:center;
	margin:30px;
	font-family:fantasy;
}


.input_form {
	border-bottom:2px solid rgb(146, 176, 232);
	margin: 30px;
	padding : 10px 10px;
}


.deco {
	width: 100%;
	border: none;
	outline: none;
	color: rgb(32,56,100);
	font-size:16px;
	height:25px;
	background: none;
}

.show_form{
	color:red;
}
.btnSubmit {
	position : relative;
	left:40%;
	transform : translateX(-50%);
	margin-bottom: 40px;
	width:80%;
	height:40px;
	background: #b8cbef;
	background-position:left;
	background-size:200%;
	color:black;
	border:none;
	cursor:pointer;
	transition:0.4s;
	display:inline;
}

.btnSubmit:hover {
	background-color: rgb(32,56,100);
	color:white;
}
.bottomText {
	text-align:center;
}













